.popup {
  min-width: min(calc(var(--space-20) * 5), calc(100vw - var(--space-8)));
  max-width: min(calc(var(--space-20) * 10), calc(100vw - var(--space-8)));
  z-index: var(--z-menu);
}

.popup > * {
  max-width: 100%;
}

.popup[data-position="absolute"] {
  position: absolute;
}

.popup[data-position="fixed"] {
  position: fixed;
}

.popup[data-position="static"] {
  position: static;
}

.popup[data-placement="bottom-start"] {
  top: calc(100% + var(--space-4));
  left: 0;
}

.popup[data-placement="bottom-center"] {
  top: calc(100% + var(--space-4));
  left: 50%;
  transform: translateX(-50%);
}

.popup[data-placement="bottom-end"] {
  top: calc(100% + var(--space-4));
  right: 0;
}

.popup[data-placement="center"] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup[data-placement="top-start"] {
  bottom: calc(100% + var(--space-4));
  left: 0;
}

.popup[data-placement="top-center"] {
  bottom: calc(100% + var(--space-4));
  left: 50%;
  transform: translateX(-50%);
}

.popup[data-placement="top-end"] {
  right: 0;
  bottom: calc(100% + var(--space-4));
}

.popup[data-placement="right-start"] {
  top: 0;
  left: calc(100% + var(--space-4));
}

.popup[data-placement="right-center"] {
  top: 50%;
  left: calc(100% + var(--space-4));
  transform: translateY(-50%);
}

.popup[data-placement="right-end"] {
  bottom: 0;
  left: calc(100% + var(--space-4));
}

.popup[data-placement="left-start"] {
  top: 0;
  right: calc(100% + var(--space-4));
}

.popup[data-placement="left-center"] {
  top: 50%;
  right: calc(100% + var(--space-4));
  transform: translateY(-50%);
}

.popup[data-placement="left-end"] {
  right: calc(100% + var(--space-4));
  bottom: 0;
}
